.row {
  clear: both;
  width: 100%;
  position: relative; }

.grid-75 {
  width: 75%;
  float: left; }

.grid-25 {
  width: 25%;
  float: left; }

.grid-50 {
  width: 50%;
  float: left; }

html {
  font-size: 100%;
  font-family: "Roboto Slab", serif; }

body {
  margin: 0; }

header h1 {
  color: #333;
  transition: color 0.75s ease-in;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 10rem;
  z-index: 1;
  opacity: 1;
  font-weight: 100; }

header + section .background-image {
  transition: opacity 0.75s ease-in;
  opacity: 0.45; }
  header + section .background-image img {
    width: 100%;
    height: auto; }

header:hover h1 {
  transition: color 0.75s ease-in;
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.75s ease-in; }

header:hover + section .background-image {
  transition: opacity 0.75s ease-in;
  opacity: 1; }

section {
  border-top: 1px solid #ebebeb; }
  section article {
    margin: 0;
    position: relative; }
  section header h2 {
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem; }
  section h3, section h3 a {
    font-size: 2.5rem;
    font-weight: 100;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1.5rem; }
    section h3:hover, section h3 a:hover {
      background: #fff;
      color: #ff0000; }
  section.inactive:hover {
    background: none; }
  section p, section li, section a {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem; }
  section ul {
    padding: 1rem; }
  section li {
    margin: 1rem 0;
    list-style: none;
    position: relative; }
  section a {
    color: #545454;
    text-decoration: none;
    transition: color, 0.5s, ease-in; }
    section a:hover {
      color: #ff0000;
      background-color: #ebebeb;
      transition: color, 0.5s, ease-in;
      transition: background, 0.5s, ease-in; }

.company-wrap {
  margin-left: 5rem;
  position: relative; }

.flyout {
  left: 300px;
  color: #fff;
  opacity: 0;
  top: 0;
  width: auto;
  height: 50px;
  transition: opacity, 1s, ease-in;
  position: absolute;
  background-color: #fff;
  transition: background, 0.5s, ease-in; }
  .flyout .triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #1e90ff;
    position: absolute;
    top: 14.5px;
    left: -10px;
    opacity: 0;
    transition: opacity, 1s, ease-in; }
  .flyout.inline {
    top: -10px; }
    .flyout.inline .triangle {
      border-right: 10px solid #22e656; }
  .flyout.long {
    left: 500px; }
  .flyout.longer {
    left: 550px; }
  .flyout.longest {
    left: 800px; }
  .flyout.longestest {
    left: 900px; }
  .flyout.med {
    left: 450px; }
  .flyout p {
    padding: 0.3rem 0.5rem 0.5rem; }

.company-title, .proj-descr {
  margin-bottom: 1rem; }
  .company-title:hover + .flyout, .proj-descr:hover + .flyout {
    opacity: 1;
    left: 400px;
    transition: opacity, 1s, ease-in;
    background-color: #1e90ff;
    color: #fff;
    transition: background, 1s, ease-in; }
    .company-title:hover + .flyout .triangle, .proj-descr:hover + .flyout .triangle {
      opacity: 1;
      transition: opacity, 1s, ease-in; }
  .company-title:hover + .inline, .proj-descr:hover + .inline {
    background-color: #22e656; }
    .company-title:hover + .inline .triangle, .proj-descr:hover + .inline .triangle {
      border-right: 10px solid #22e656; }
  .company-title:hover + .long, .proj-descr:hover + .long {
    left: 550px; }
  .company-title:hover + .longer, .proj-descr:hover + .longer {
    left: 600px; }
  .company-title:hover + .longest, .proj-descr:hover + .longest {
    left: 850px; }
  .company-title:hover + .longestest, .proj-descr:hover + .longestest {
    left: 950px; }
  .company-title:hover + .med, .proj-descr:hover + .med {
    left: 500px; }
  .company-title:hover + .short, .proj-descr:hover + .short {
    left: 200px; }

.about-me-img {
  text-align: center;
  opacity: 0.5;
  transition: opacity, 1s, ease-in; }
  .about-me-img img {
    max-width: 70%;
    height: auto;
    padding: 1rem;
    outline: 1px solid #ebebeb; }
  .about-me-img.active {
    opacity: 1;
    transition: opacity, 1s, ease-in; }

.title-active {
  opacity: 1;
  transition: opacity, 2s, ease-in; }

.title-inactive {
  opacity: 0.2;
  transition: opacity, 2s, ease-in; }

.about-me-blurb {
  opacity: 0.2;
  transition: opacity, 2s, ease-in; }
  .about-me-blurb.active {
    opacity: 1;
    transition: opacity, 2s, ease-in; }

article.about-me {
  width: 100%;
  overflow: hidden; }

section.hero, section.work {
  opacity: 1;
  transition: opacity, 1s, ease-in; }
  section.hero.inactive, section.work.inactive {
    opacity: 0.1;
    transition: opacity, 1s, ease-in;
    background-color: #333;
    transition: background-color, 1s, ease-in;
    filter: grayscale(100%); }

section.work {
  position: relative; }
  section.work.inactive {
    opacity: 0.5;
    background-color: rgba(51, 51, 51, 0.35); }
    section.work.inactive header h2 {
      color: rgba(51, 51, 51, 0.5); }

section.demos h3 {
  text-align: center; }
  section.demos h3:hover {
    color: #333; }

section.demos h4 {
  font-weight: 300;
  margin-left: 2rem;
  font-size: 1.75rem; }

section.demos p {
  margin-left: 3rem;
  margin-bottom: 0; }

section.demos .demo-blurb .border-inner {
  margin: 2rem;
  transition: background-color, 0.5s, ease-in; }

section.demos .demo-blurb.blue .border-inner {
  border: 2px solid rgba(0, 0, 255, 0.2); }
  section.demos .demo-blurb.blue .border-inner:hover {
    transition: background-color, 0.5s, ease-in;
    background-color: rgba(0, 0, 255, 0.2); }

section.demos .demo-blurb.red .border-inner {
  border: 2px solid rgba(255, 0, 0, 0.2); }
  section.demos .demo-blurb.red .border-inner:hover {
    transition: background-color, 0.5s, ease-in;
    background-color: rgba(255, 0, 0, 0.2); }

section.demos .demo-blurb.green .border-inner {
  border: 2px solid rgba(185, 9, 243, 0.2); }
  section.demos .demo-blurb.green .border-inner:hover {
    transition: background-color, 0.5s, ease-in;
    background-color: rgba(185, 9, 243, 0.2); }

section.demos .demo-blurb p.link {
  margin: 2rem 3rem; }

section.demos .demo-blurb a {
  color: #ff0000;
  font-weight: 400; }
  section.demos .demo-blurb a:hover {
    color: #fff;
    background: none; }

section.demos .demo-blurb p.link.github a {
  color: #333;
  font-weight: 400; }
  section.demos .demo-blurb p.link.github a:hover {
    color: #fff; }

img.github-link {
  position: relative;
  padding-right: 0.5rem;
  top: 0.4rem; }

@media (max-width: 1366px) {
  header h1 {
    font-size: 6rem;
    padding-top: 4rem; } }
